:root {
  --font-BarlowSemiCondensed: "Barlow Semi Condensed", sans-serif;
  --font-size: 1.4rem;
  /*! Weights: 500, 600 */

  /*! Primary */
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /*! Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);
}

/*! Global styles */

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: var(--font-BarlowSemiCondensed);
  font-size: var(--font-size);
  background-color: var(--Grey-100);
}

h1,
h2 {
  font-size: var(--font-size);
}

p {
  line-height: 1.4;
}

img {
  width: 3.5rem;
  height: auto;
  display: block;
  border-radius: 50%;
}

.container {
  max-width: min(85%, 144rem);
  margin: 7rem auto;
}

.grid {
  display: grid;
  gap: 3.5rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

/*! article styles */

article {
  padding: 3rem;
  border-radius: 1rem;
}

article > div > div > p {
  font-size: 1.2rem;
}

article > div {
  margin-bottom: 2rem;
}

article > p:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/*! testimonial Daniel Clifford */

.testimonial-daniel {
  background-color: var(--Purple-500);
  color: var(--White);
}

.testimonial-daniel img {
  border: 0.2rem solid var(--Purple-300);
}

.testimonial-daniel h2 {
  font-weight: 400;
}

.testimonial-daniel div > div > p {
  color: var(--Purple-50);
}

.testimonial-daniel p:nth-child(3) {
  color: var(--Grey-200);
}

/*! testimonial Jonathan Walters */

.testimonial-jonathan {
  background-color: var(--Grey-500);
  color: var(--Grey-200);
}

.testimonial-jonathan img {
  border: 0.2rem solid var(--Grey-400);
}

.testimonial-jonathan h2 {
  font-weight: 500;
}

.testimonial-jonathan p:nth-child(2) {
  color: var(--Grey-100);
}

/*! Testimonial Jeanette Harmon */

.testimonial-jeanette {
  background-color: var(--White);
  color: var(--Grey-400);
}

.testimonial-jeanette img {
  border: 0.2rem solid var(--Grey-200);
}

.testimonial-jeanette h2 {
  font-weight: 500;
}

/*! Testimonial Patrick Abrams */

.testimonial-patrick {
  background-color: var(--Dark-blue);
  color: var(--Grey-200);
}

.testimonial-patrick img {
  border: 0.2rem solid var(--Purple-500);
}

.testimonial-patrick h2 {
  font-weight: 500;
}

/*! Testimonial Kira Whittle */

.testimonial-kira {
  background-color: var(--White);
  color: var(--Grey-400);
}

.testimonial-kira img {
  border: 0.2rem solid var(--Grey-200);
}

.testimonial-kira h2 {
  font-weight: 500;
}

/*! Media Queries */

body {
  font-size: 1.4rem;
}

@media (min-width: 1280px) {
  .container {
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    height: 100vh;
  }

  article > p:nth-child(2) {
    font-size: 1.8rem;
  }

  article > p:nth-child(3) {
    font-size: 1.3rem;
  }

  .testimonial-daniel {
    grid-column: 1 / span 2;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 85%;
  }

  .testimonial-kira {
    grid-column: 4;
    grid-row: 1 / span 2;
  }

  .testimonial-patrick {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  br {
    display: none;
  }
}
